{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Estranho{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em te conhecer!</p>
    {% else %}
    <p>Feliz em te ver de novo!</p>
    {% endif %}
</div>

{{ wtf.quick_form(form) }}

<h2>Relação de usuários cadastrados</h2>

<table class="table">
    <tr>
        <th>Nome do usuário</th>
        <th>Função</th>
    </tr>
    {% for pessoa in pessoas %}
    <tr>
        <td>{{ pessoa.username }}</td>
        <td>{{ pessoa.role.name if pessoa.role else '—' }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Relação de funções cadastradas</h2>
<p>Quantidade: {{ roles|length }}</p>

<table class="table">
    <tr>
        <th>Funções</th>
        <th>Usuários</th>
    </tr>
    {% for role in roles %}
    <tr>
        <td>{{ role.name }}</td>
        <td>
            <ol>
                {% for user in role.users %}
                    <li>{{ user.username }}</li>
                {% else %}
                    <li class="text-muted">Nenhum usuário</li>
                {% endfor %}
            </ol>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}